@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-bg-opacity: 1;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: rgb(21 14 40/var(--tw-bg-opacity));
  --nav:linear-gradient(25deg, #2600fc, #ff00ea);
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  background-color: var(--background-color);
 margin: 0;
scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
*{
  scroll-behavior: smooth;
 
}
*::-webkit-scrollbar{
  scroll-behavior: smooth;
  width: 5px;
  
  border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
  background-color:rgb(212,52,254);
  border-radius: 15px;
}


